{
    "presets": ["@babel/preset-env", "@babel/preset-typescript"],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        ["@babel/plugin-transform-regenerator", {}, "unique-name"],
        [
            "@babel/plugin-proposal-object-rest-spread",
            {
                "loose": true,
                "useBuiltIns": true
            }
        ]
    ]
}
