$__mdClass: 'oh-md';

.#{$__mdClass} {
    textarea {
        min-width: 100%;
        max-width: 100%;
        width: 100%;
        display: block;
        padding: 10px 15px;
        margin: 2em 0;
        font-family: monospace;
        font-size: inherit;
        line-height: 1.75;
        box-sizing: border-box;
    }
}